# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
env/
venv/

# Ignore Django migration files
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/
